*,
*::before,
*::after {
box-sizing: border-box;
}
/* Basic Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
margin: 0;
padding: 0;
}
img {
max-width: 100%;
/* display: block;  */
/* Prevents extra space below inline images */
}
/* Full Height and Scroll Snapping */
html, body {
height: 100%;
width:100%;
overflow-y: scroll; 
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
overflow-x: hidden;
scroll-padding: 0; 
}
html {
  
}

.slide {
height: 100vh;
width:100%;
overflow: hidden;
scroll-snap-align: start;
scroll-snap-stop: always;
/* Add your slide content styling here /
display: flex; / Example for centering content */
flex-direction: column;
justify-content: center;
align-items: center;
/* font-size: 3rem; */
/* color: black; */
}
/* Your main wrapper styling - ensure it fits within a slide if intended */
.main_wrapper {
 /* width: 800px;
 margin: 0 auto;  */

 /* color: black; */
 /* background: rgba(255,255,255);
 border-radius: 20px;

 background: rgba(39, 39, 39, 0.1);
 backdrop-filter: blur(60px);

 -webkit-backdrop-filter: blur(60px);
 border: 2px solid rgba(255, 255, 255, 0.2);
 box-shadow: 0 0 80px rgba(0, 0, 0, 0.3); */
}
.top{
    background-image: url(../resource/main/space.avif);
    background-size: 100% 100%;
    /* padding:50px; */
}
.text{
  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.logo_box{
  padding-top: 350px;
}
.main_wrapper{
  padding-top: 50px;
  margin: 0 auto; 
  
}

.main_motto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
.normal_text{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.name_wrapper {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  /* font-variation-settings:"wdth" 100; */
  font-size: 100px;
}
.name{

  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);

  background-clip: text;
  color: transparent;
}

/* add font style to the main motto */


/* .rain_motto,.task_motto,.location_motto {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  } */

  .rain_motto,.task_motto,.location_motto{
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color:whitesmoke;
    /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
  }


  .scenario{
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:wheat
  }
  .rain_title,.task_title,.location_title,.answer {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  .text_title{
    font-family: "Rubik Mono One", monospace;
    font-weight: 300;
    font-style: normal;
    color: black;
  }
  

  .header_button,.rain_button,.task_button,.location_button{
    width:200px;
    font-size: 20px;
    font-family: "Tektur", sans-serif;
    /* color:black;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    z-index: 10; */

    
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  }
  .header_button_wrapper{
    display: flex;
    justify-content: center;
    width: 150px;
    margin:0 auto;
  }
  .task_wrapper,.rain_wrapper,.location_wrapper {
    /* width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: red;
    position: relative;
    top: 70px; */
    margin: 0 auto;
    position: relative;
    top: 80px;
    height: 40%;
    width: 60%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 40px; */
    color: #342323;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);

  }
  .rain_status,.scenario_three{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
     
  }
  
.task,.scenario_one{
  background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.location,.scenario_two{
  background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.normal_text{
    padding: 5% 10% 2%;
    width:90%;
    color: whitesmoke
  } 
/* .border{
  border: 4px solid black;
  padding: 20px;
  margin-top:50px;
} */
.socials img{
  width: 40px;
}
